# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=h
AWS_SECRET_ACCESS_KEY=i

# DynamoDB Configuration
DYNAMODB_TABLE=e-commerce-backend-users-dev

# JWT Configuration
JWT_SECRET=qudhieqdhieIIYRE567wii883990022445##$@%@^&@*()@*@&@(())

# Server Configuration
NODE_ENV=development
PORT=3000

# Optional: For local development
DYNAMODB_ENDPOINT=http://localhost:8000
